@import url('https://fonts.googleapis.com/css?family=Raleway');

// Just change the font-size and all will be optimized
$font-size: 50px;

$bg-color: #1b1b1b;
$glitch-bg-color: $bg-color;

$text-color: #ffffff;
$glitch-text-color: $text-color;

body {
  background-color: $bg-color;
  text-align: center;
  
  h1 {
    margin-top: 150px;
  }
}

.glitch {
  font-family: 'Raleway', sans-serif;
  font-size: $font-size;
  position: relative;
  white-space: nowrap;
  margin: 0 auto;
  color: $text-color;
}


.glitch::before, .glitch::after {
  background-color: $glitch-bg-color;
  color: $glitch-text-color;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 9999px, 0, 0);
  content: attr(data-text);
}

.glitch::before {
  left: ($font-size / 20);
  @if ($font-size < 50){
    text-shadow: 1px 0 #00ffea;
  } @else {
    text-shadow: ($font-size / 40) 0 #00ffea;
  }
  animation: glitch-animation 5s infinite linear;
}

.glitch::after {
  left: ($font-size / 50);
  @if ($font-size < 50){
    text-shadow: -1px 0 #fe3a7f;
  } @else {
    text-shadow: -($font-size / 40) 0 #fe3a7f;
  }
  animation: glitch-animation 4s infinite linear;
}

@mixin rect($top, $bottom) {
  clip: rect($top, 9999px, $bottom, 0);
}

@keyframes glitch-animation {
  0% { @include rect($font-size / 2.85, $font-size / 2.04); }
  5% { @include rect($font-size / 9.09, $font-size / 1.63); }
  10% { @include rect($font-size / 2.32, $font-size / 4); }
  15% { @include rect($font-size / 2.43, $font-size / 1.25); }
  20% { @include rect($font-size / 1.66, $font-size / 4.16); }
  25% { @include rect($font-size / 2.94, $font-size / 1.82); }
  30% { @include rect($font-size / 1.16, $font-size / 1.42); }
  35% { @include rect($font-size / 5, $font-size / 5); }
  40% { @include rect($font-size / 30, $font-size / 40); }
  45% { @include rect($font-size / 4, $font-size / 1.51); }
  50% { @include rect($font-size / 1.75, $font-size / 1.01); }
  55% { @include rect($font-size / 20, $font-size / 2.17); }
  60% { @include rect($font-size / 1.12, $font-size / 3.33); }
  65% { @include rect($font-size / 1.85, $font-size / 3.70); }
  70% { @include rect($font-size / 1.38, $font-size / 1); }
  75% { @include rect($font-size / 10, $font-size / 12); }
  80% { @include rect($font-size / 5.55, $font-size / 1.25); }
  85% { @include rect($font-size / 2, $font-size / 1.77); }
  90% { @include rect($font-size / 2.32, $font-size / 2.04); }
  95% { @include rect($font-size / 3.03, $font-size / 5); }
  100% { @include rect($font-size / 10, $font-size / 10); }
}